<footer>
    <small>
        <%= link_to  "Contact list", root_path %>
    </small>

    <nav>
        <ul>
            <li>
                <%= link_to  "Sobre", '#' %>
            </li>
            <li>
                <%= link_to  "Contato", '#' %>
            </li>
        </ul>
    </nav>
</footer>

