<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <%= link_to "Contact list", root_path, class:"nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to  "Nova conta", new_user_path, class:"nav-link" %>
                </li>
            </ul>
            <div class="d-flex">
                <button class="btn btn-outline-success" type="submit">Entrar</button>
            </div>
        </div>
    </div>
</nav>